@font-face {
  font-family: "iconfont"; /* Project id 3052564 */
  src: url('iconfont.woff2?t=1640243300169') format('woff2'),
       url('iconfont.woff?t=1640243300169') format('woff'),
       url('iconfont.ttf?t=1640243300169') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mti-kefu:before {
  content: "\e629";
}

.mti-chaxun:before {
  content: "\e7c6";
}

.mti-zichanguanli:before {
  content: "\e661";
}

.mti-yingjiyuan:before {
  content: "\e62d";
}

.mti-zhihuizhongxin:before {
  content: "\e660";
}

.mti-neirongliebiao:before {
  content: "\e646";
}

.mti-xitongpeizhi:before {
  content: "\e7d6";
}

.mti-zichan:before {
  content: "\e621";
}

.mti-richeng:before {
  content: "\e657";
}

.mti-browse:before {
  content: "\e666";
}

.mti-bussiness-man:before {
  content: "\e6ef";
}

.mti-code:before {
  content: "\e6f2";
}

.mti-copy:before {
  content: "\e6f3";
}

.mti-history:before {
  content: "\e6f8";
}

.mti-editor:before {
  content: "\e6f6";
}

.mti-data:before {
  content: "\e6f9";
}

.mti-pic:before {
  content: "\e6ff";
}

.mti-arrow-right:before {
  content: "\e743";
}

.mti-arrow-left:before {
  content: "\e744";
}

.mti-arrow-up:before {
  content: "\e745";
}

.mti-calendar:before {
  content: "\e746";
}

.mti-calculator:before {
  content: "\e747";
}

.mti-category:before {
  content: "\e748";
}

.mti-upload:before {
  content: "\e76b";
}

.mti-video:before {
  content: "\e76d";
}

.mti-set:before {
  content: "\e76c";
}

.mti-store:before {
  content: "\e76f";
}

.mti-tool-hardware:before {
  content: "\e76e";
}

.mti-exchangerate:before {
  content: "\e772";
}

.mti-home:before {
  content: "\e7a7";
}

.mti-arrow-down:before {
  content: "\e7b2";
}

.mti-account:before {
  content: "\e7b3";
}

.mti-search:before {
  content: "\e7b4";
}

.mti-tradingdata:before {
  content: "\e7b5";
}

.mti-shouqi:before {
  content: "\e7d3";
}

.mti-zhankai:before {
  content: "\e7d4";
}

